# Data Science Project Notebook

## Introduction
### This notebook serves as the final project for the Data Science course. It includes various exercises that demonstrate the use of Markdown and code cells in a Jupyter notebook.

### List of all Data Science Languages
- Python
- R
- SQL
- Julia
- Java

### Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

### Data Science Tools
| Tool           | Description                                   |
|----------------|-----------------------------------------------|
| Jupyter        | Notebook environment for interactive computing|
| RStudio        | Integrated development environment for R      |
| Apache Spark   | Cluster-computing framework                   |
| Tableau        | Data visualization tool                       |

### Arithmetic Expression Examples
Below are examples of simple arithmetic expressions using Python code.

#### Adding two numbers

In [21]:
7 + 3

10

#### Substracting two numbers

In [23]:
10 - 4

6

#### Multiplying two numbers

In [27]:
8 * 5

40

#### Dividing one number by another

In [29]:
20 / 4

5.0

#### Raising a number to the power of another number

In [35]:
3 ** 2

9

#### Finding the remainder of a division (Modulo)

In [42]:
10 % 3

1

### Multiply and add numbers

In [45]:
result = (5 * 6) + 7
result

37

### Convert minutes to hours

In [48]:
minutes = 120
hours = minutes / 60
hours

2.0

### Objectives
- Demonstrate the use of Markdown in Jupyter notebooks.
- Showcase basic arithmetic operations using Python code.
- Familiarize with data science languages, libraries, and tools.
- Successfully share the notebook via GitHub.

## Author
*Prithviraj Anchan*